#AnchorPane { 
-fx-background-color:  linear-gradient(to right top, #45002d, #8c1a31, #bf5519, #cd9e00, #a8eb12);
}
#scrollPane { 
  
}
#mainPane { 
	-fx-background-radius: 20.0px;
	-fx-border-color: white;
}

#imageView { 
	-fx-border-color: black;
	-fx-border-radius: 50.0px;
	
}